<div th:fragment="header" th:remove="tag">
    <title>Project Cartographer Admin</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" />
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}" />
    <script type="text/javascript" th:src="@{/js/ajax.js}" />
    <script type="text/javascript" th:src="@{/js/common.js}" />
    <script type="text/javascript" th:src="@{/js/filter.js}" />
    <script type="text/javascript">
        initCommonJs();
    </script>
</div>