<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Project Cartographer Admin</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" />
    <script type="text/javascript" th:src="@{/js/common.js}" />
    <script type="text/javascript" th:src="@{/js/filter.js}" />
    <script type="text/javascript">
        initCommonJs();
    </script>
</head>
<body>
<div th:replace="fragments/bannerPanel"></div>

<div class="content">
    <div th:replace="fragments/navigationPanel :: navPanel(selected='emails')"></div>
    <div class="pageContent">
        <p>TODO: place to manage blacklisted emails</p>
    </div>
</div>
</body>
</html>