<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Project Cartographer Admin</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
<div class="banner">
    <a class="navbar-brand" href="https://cartographer.online/">
        <img src="https://cartographer.online/h2pc-api/h2pc_logo.png" class="center" width="48px" /> Project Cartographer Administration
    </a>
</div>

<div class="content">
    <div class="verticalnavbar">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/user">Edit User</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/servers">Servers</a></li>
        </ul>
    </div>
    <div class="pageContent">
        <p>Welcome to the admin portal, fuck you</p>
    </div>
</div>
</body>
</html>