<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Project Cartographer Admin</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments/bannerPanel"></div>

<div class="content">
    <div th:replace="fragments/navigationPanel :: navPanel(selected='index')"></div>
    <div class="pageContent">
        <p>Welcome to the admin portal, fuck you</p>
    </div>
</div>
</body>
</html>