<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/header :: header"></div>
    <script type="text/javascript" th:src="@{/js/newUsers.js}" />
    <script type="text/javascript">
       initNewUsers();
    </script>
</head>
<body>
<div th:replace="fragments/bannerPanel"></div>

<div class="content">
    <div th:replace="fragments/navigationPanel :: navPanel(selected='newUsers')"></div>
    <div class="pageContent">
        <div>
            <p>Activate new user accounts. If you still see the new user account after clicking activate try refreshing,
                <br/>the delete happens during activation, but there could be some minor delay
                <br/>NOTE* Valid email only validates the format of the email, we don't validate if the actual email will work.
                <br/>If you resend the activation it either succeeds or fails with an appropriate message
            </p>
        </div>
        <div class="activateAllNewUsers"><a id="activateAllNewUsers" href="#">Activate All</a></div>
        <hr />
        <table id="newUserTable" class="order-table table">
            <thead>
            <tr class="headerRow">
                <th:block th:each="header : ${headerRow}">
                    <td th:text="${header.name}"></td>
                </th:block>
            </tr>
            </thead>
            <tr th:each="user : ${newUsers}">
                <th:block th:each="value : ${user.values}">
                    <div class="newUsers" th:switch="${value}">
                        <td th:case="actions">
                            <button class="newUserBtn activate" type="button">Activate</button>
                            <button class="newUserBtn editEmail" type="button">Edit</button>
                            <button class="newUserBtn resend" type="button">Resend</button>
                        </td>
                        <td th:case="*"><p th:text="${value}"></p></td>
                    </div>
                </th:block>
            </tr>
        </table>
    </div>
</div>

<div id="editEmailDialog" title="Edit email">
    <label for="newUserEmail">Email</label>
    <input type="text" name="email" id="newUserEmail" value="" class="text ui-widget-content ui-corner-all" />
</div>

</body>
</html>