<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Project Cartographer Admin</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" />
    <script type="text/javascript" th:src="@{/js/common.js}" />
    <script type="text/javascript">
        initCommonJs();
    </script>
</head>
<body>
<div th:replace="fragments/bannerPanel"></div>


<div class="content">
    <div th:replace="fragments/navigationPanel :: navPanel(selected='user')"></div>
    <div class="pageContent" th:switch="${hasUser}">
        <div class="success"><p th:text="${success}"></p></div>
        <div class="error"><p th:text="${error}"></p></div>
        <div class="noUser" th:case="false">
            <p>Lookup a user by id or name or email</p>
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="idToFind">Id</label></div>
                <div class="editUserInputField"><input type="text" id="idToFind" name="idToFind"/></div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="usernameToFind">Username</label></div>
                <div class="editUserInputField"><input type="text" id="usernameToFind" name="usernameToFind"/></div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="emailToFind">Email</label></div>
                <div class="editUserInputField"><input type="text" id="emailToFind" name="emailToFind"/></div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputLabel"><button id="findButton" type="button">Find</button></div>
            </div>
        </div>
        <div class="editUser" th:case="true">
            <p>Edit User</p>
            <hr />
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="id">User Id</label></div>
                <div class="editUserInputField"><input type="text" id="id" name="id" th:value="${id}" readonly="true"/></div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="username">Username</label></div>
                <div class="editUserInputField"><input type="text" id="username" name="username" th:value="${username}"/></div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="email">Email</label></div>
                <div class="editUserInputField"><input type="text" id="email" name="email" th:value="${email}"/></div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="ipAddress">IpAddress</label></div>
                <div class="editUserInputField"><input type="text" id="ipAddress" name="ipAddress" th:value="${ipAddress}" readonly="true"/></div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="loginDttm">Login Date</label></div>
                <div class="editUserInputField"><input type="datetime" id="loginDttm" name="loginDttm" th:value="${loginDttm}" readonly="true"/></div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="accountType">UserType</label></div>
                <div class="editUserInputField">
                    <select id="accountType" name="accountType">
                        <th:block th:each="accountTypeValue : ${accountTypeFilterValues}">
                            <option th:text="${accountTypeValue}" th:selected="${accountTypeValue} == ${accountType}" />
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="banned">Banned</label></div>
                <div class="editUserInputField"><input type="text" id="banned" name="banned" th:value="${banned}" readonly="true"/></div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputLabel"><label for="comments">Comments</label></div>
                <div class="editUserInputField"><textarea rows="4" cols="50" id="comments" name="comments" th:text="${comments}" /></div>
            </div>
            <div class="editUserRow">
                <div class="editUserInputField">
                    <div class="userButtons" th:switch="${banned}">
                        <button id="banUser" type="button" th:case="false">Ban</button>
                        <button id="unbanUser" type="button" th:case="true">Unban</button>
                        <button id="updateUser" type="button" >Update</button>
                    </div>
                </div>
            </div>

            <div class="machinePanel">
                <p>Edit Machines</p>
                <hr />

                <table id="machineTable" class="order-table table">
                    <thead>
                    <tr class="headerRow">
                        <th:block th:each="header : ${headerRow}">
                            <td th:text="${header.name}"></td>
                        </th:block>
                    </tr>
                    </thead>
                    <tr th:each="machine : ${machines}">
                        <th:block th:each="value : ${machine.values}">
                            <div class="machines" th:switch="${value}">
                                <td th:case="unban"><button class="unbanMachine" type="button">Unban</button></td>
                                <td th:case="ban"><button class="banMachine" type="button">Ban</button></td>
                                <td th:case="*"><p th:text="${value}"></p></td>
                            </div>
                        </th:block>
                    </tr>
                </table>
                <br/>
                <button id="banAllMachines" type="button">Ban All</button>
            </div>
            <div class="linkedUsers">
                <p>Linked Users</p>
                <hr />

                <table id="userTable" class="order-table table">
                    <thead>
                    <tr class="headerRow">
                        <th:block th:each="header : ${linkedUsersHeader}">
                            <td th:text="${header.name}"></td>
                        </th:block>
                    </tr>
                    </thead>
                    <tr th:each="user : ${users}">
                        <th:block th:each="value : ${user.values}">
                            <div class="users" th:switch="${value}">
                                <td th:case="*" th:text="${value}" />
                            </div>
                        </th:block>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>