<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/bannerPanel"></div>

<div class="content">
    <div th:replace="fragments/navigationPanel :: navPanel(selected='users')"></div>
    <div class="pageContent">
        <br />
        <p>Warning! this page can be slow from the browser</p>
        <input type="text" id="filterText" name="filterText" placeholder="Search"/>
        <button id="searchForUser" type="button">Search</button>
        <hr />
        <table id="userTable" class="order-table table">
            <thead>
                <tr class="headerRow">
                    <th:block th:each="header : ${headerRow}">
                        <td th:text="${header.name}"></td>
                    </th:block>
                </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>